*
{
    padding: 0;
    margin: 0;
}

body 
{
    background-color: black;
}

#centralize
{
    padding: 10px;
    margin: 250px auto;
    background-color: blue;
    text-align: center;
    height: auto;
    width: 220px;
}

.meio
{
    text-align: center;
}

#navegacao
{
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}